.card
    .card-content
        span.card-title.truncate.tooltipped(data-position='top', v-bind:data-tooltip='article.title') {{ article.title }}
        p
            strong @{{ article.author }}:&nbsp;
            span.autolink {{ article.content }}
            em.tooltipped.grey-text(data-position='bottom', v-bind:data-tooltip='moment(article.date).format("YYYY-MM-DD HH:mm:ss")')
                | &nbsp;({{ moment(article.date).fromNow() }})
            br
            br
            span.chip(v-for='tag in article.category') \#{{ tag }}

    .card-action
        //- a(href='#') 신청하기
        a(v-bind:href='"#modal-" + article._id') 댓글 보기 (총 {{ article.comments.length }}개)

.modal.bottom-sheet(v-bind:id='"modal-" + article._id')
    .modal-content.container
        .row
            .col.s12: ul.collection(v-if='article.comments.length > 0')
                li.collection-item(v-for='comment in article.comments')
                    strong @{{ comment.author }}:&nbsp;
                    span.autolink {{ comment.content }}
                    em.tooltipped.grey-text(data-position='bottom', v-bind:data-tooltip='moment(comment.date).format("YYYY-MM-DD HH:mm:ss")')
                        | &nbsp;({{ moment(comment.date).fromNow() }})

            form.col.s12(v-bind:action='"/api/leave-comment/" + article._id', method='POST')
                .row
                    .input-field.col.s12
                        input(v-bind:id='"input-" + article._id', name='content', type='text', length='512', required)
                        label(v-bind:for='"input-" + article._id') 댓글 작성하기
                        button.right.btn.waves-effect.waves-light(type='submit')
                            | 작성
                            i.material-icons.right send
