.card
    .card-content
        span.card-title.truncate.tooltipped(data-position='top', v-bind:data-tooltip='article.title') {{ article.title }}
        p
            strong @{{ article.author }}:&nbsp;
            | {{ article.content }}&nbsp;
            em.tooltipped.grey-text(data-position='bottom', v-bind:data-tooltip='moment(article.date).format("YYYY-MM-DD HH:mm:ss")')
                | ({{ moment(article.date).fromNow() }})
            br
            br
            span.chip(v-for='tag in article.category') \#{{ tag }}

    .card-action
        a(href='#') 신청하기
        a(href='#') 자세히 보기
