nav.nav-extended
    .nav-wrapper.container
        a.brand-logo(href='#') Wilivery

        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='/trend') Trend
            li
                a(href='/groups') Groups
            li
                a(href='/settings') Settings

        ul.tabs.tabs-transparent
            li.tab
                a(href='#test1') Test 1
            li.tab
                a(href='#test2') Test 2
            li.tab
                a(href='#test3') Test 3
            li.tab
                a(href='#test4') Test 4
            li.tab
                a(href='#test5') Test 5
            li.tab
                a(href='#test6') Test 6
            li.tab
                a(href='#test7') Test 7
            li.tab
                a(href='#test8') Test 8
            li.tab
                a(href='#test9') Test 9
            li.tab
                a(href='#test10') Test 10
