mixin sideNav()
    if user
        li
            a(href='/trend') Trend
        li
            a(href='/sign-out') Sign out
    else
        li
            a(href='/sign-in') Sign in
        li
            a(href='/sign-up') Sign up

nav(class=user ? 'nav-extended' : '')
    .nav-wrapper.container
        a.brand-logo(href='/') Wilivery

        a.button-collapse(href='#', data-activates='mobile')
            i.material-icons menu
            
        ul.right.hide-on-med-and-down
            +sideNav()

        ul.side-nav#mobile
            +sideNav()

        if user
            ul.tabs.tabs-transparent
                li.tab
                    a(href='#recent') Recent

                li.tab
                    a(href='#groups') Groups
