nav
    .nav-wrapper.container
        a.brand-logo(href='#') Wilivery
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='/trend') Trend
            li
                a(href='/groups') Groups
            li
                a(href='/settings') Settings
