.brand-logo {
    font-family: Raleway, sans-serif;
}

.brand-text {
    color: #54A0CF;
}

.brand-color {
    background-color: #6CAED5;
}

nav .button-collapse {
    margin-left: 5px;
}

.btn, .btn-large {
    background-color: #6CAED5;
}

.btn:hover, .btn-large:hover {
    background-color: #90C2DE;
}

[v-cloak] {
    display: none;
}

.parallax-container .description {
    color: #BDBDBD;
}

.icon-block .material-icons, .profile .material-icons {
    font-size: inherit;
}

textarea.materialize-textarea {
    resize: vertical;
    min-height: 13rem !important;
}

.modal.bottom-sheet {
    max-height: 75% !important;
}

.card-content p {
    word-wrap: break-word;
}
