extends ../app

append options
    - hasTabs = !!user;

append scripts
    if user
        script(src='/js/user.js')

block nav-tabs
    ul.tabs.tabs-transparent
        li.tab
            a(href='#recent') Recent

        li.tab
            a(href='#groups') Groups

block app
    if user
        .ui.container.section
            include ../tabs/recent
            include ../tabs/groups
    else
        .parallax-container
            .section.no-pad-bot.container
                br
                br
                h1.header.center.white-text.brand-logo Wilivery
                .row.center: h5.header.col.s12.description 윌리버리: 로컬 공동구매 서비스
                .row.center: a.btn-large.waves-effect.waves-light(href='/sign-up') 시작하기
                br
                br
            .parallax: img(src='/img/port.jpg')

        .container.section: .row
            .col.s12.m4: .icon-block
                h2.center.brown-text: i.material-icons flash_on
                h5.center 공동구매를 통한 배송비 절감
                p.light Wilivery는 택배를 주문하는 사람들의 큰 골칫거리인 배송비를 획기적으로 해결합니다. 매일 배송비를 위해 원치도 않는 물품을 사는 당신에게 도움을 줄 로컬 공동구매 서비스, Wilivery를 소개합니다.

            .col.s12.m4: .icon-block
                h2.center.brown-text: i.material-icons group
                h5.center 사람과 통하다
                p.light 자신의 관심사를 상대방과 공유하는 것만큼 설레는 일은 없습니다.이제 Wilivery와 함께 서로의 관심 분야를 함께 공유하세요. 당신의 구매 생활은 풍요로워질 것입니다.

            .col.s12.m4: .icon-block
                h2.center.brown-text: i.material-icons loyalty
                h5.center 태그를 통해 원하는 품목 검색
                p.light 해시태그를 이용한 깔끔한 품목 정렬, 태그를 통한 매력적인 그룹 신청 기능, 또한 최근에 올라온 그룹들의 구매 목록 확인, 이 세 가지의 기능은 Wilivery를 사용하는 데 충분히 도움을 줄 것입니다.

        .parallax-container.valign-wrapper
            .section.no-pad-bot.container
                .row.center: h5.header.col.s12.description 빵상 깨랑깨랑: 지구인들아, 무엇이 알고 싶으냐.
            .parallax
                img(src='/img/pack.jpg')
