extends ../app

append scripts
    if user
        script(src='/js/user.js')

block app
    if user
        .ui.container.section
            include ../tabs/recent
            include ../tabs/groups
    else
        .parallax-container
            .section.no-pad-bot.container
                br
                br
                h1.header.center.white-text.brand-logo Wilivery
                .row.center: h5.header.col.s12.description 윌리버리: 로컬 공동구매 서비스
                .row.center: a.btn-large.waves-effect.waves-light(href='/sign-up') 시작하기
                br
                br
            .parallax: img(src='/img/port.jpg')

        .container.section: .row
            .col.s12.m4: .icon-block
                h2.center.brown-text: i.material-icons flash_on
                h5.center 공동구매를 통한 배송비 절감
                p.light Wilivery는 택배를 주문하는 사람들의 큰 골칫거리인 배송비를 획기적으로 해결합니다. 매일 배송비를 위해 원치도 않는 물품을 사는 당신에게 도움을 줄 로컬 공동 구매 서비스. 이것이 바로 Wilivery 입니다.

            .col.s12.m4: .icon-block
                h2.center.brown-text: i.material-icons group
                h5.center 다람쥐 헌 쳇바퀴에 타고파
                p.light Wilivery는 택배를 주문하는 사람들의 큰 골칫거리인 배송비를 획기적으로 해결합니다. 매일 배송비를 위해 원치도 않는 물품을 사는 당신에게 도움을 줄 로컬 공동 구매 서비스. 이것이 바로 Wilivery 입니다.

            .col.s12.m4: .icon-block
                h2.center.brown-text: i.material-icons loyalty
                h5.center 태그를 통해 원하는 품목 검색
                p.light 해시태그를 이용한 깔끔한 품목 정렬, 태그를 통한 매력적인 그룹 신청기능, 이제 편리하게 원하는 품목을 더 빠르게 찾아보세요.

        .parallax-container.valign-wrapper
            .section.no-pad-bot.container
                .row.center: h5.header.col.s12.description 빵상 깨랑깨랑: 지구인들아, 무엇이 알고 싶으냐.
            .parallax
                img(src='/img/pack.jpg')
