extends ../app

append scripts
    script(src='/js/sign-up.js')

block app
    .ui.container.section
        h2 회원가입
        .row
            include ../includes/flash
            form.col.s12(action='/sign-up', method='POST')
                .row
                    .input-field.col.s12
                        input.validate#email(type='email', name='email', required)
                        label(for='email') 이메일
                    .input-field.col.s12
                        input.validate#nickname(type='text', name='nickname', required)
                        label(for='nickname') 닉네임
                    .input-field.col.s12
                        input.validate#password(type='password', name='password', required)
                        label(for='password') 비밀번호
                    .input-field.col.s12
                        input.validate#confirm(type='password', name='confirm', required)
                        label(for='confirm') 비밀번호 확인
                .row
                    .col.s12
                        button.btn.waves-effect.waves-light(type='submit')
                            | 회원가입
                            i.material-icons.right send
